<div class="center">
    <div class="w70">
        <div class="center">
            <h6>Catalogue</h6>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Prix</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let o of observable$ | async">
                    <td>{{o.titre}}</td>
                    <td>{{o.prix}}</td>
                    <td><button class="waves-effect waves-light btn" (click)="redirectDetails(o.id)"> Détails </button></td>
                    <td><button class="waves-effect waves-light btn" (click)="addPanier(o.id, o.prix, o.ref, o.titre)">Ajout Panier</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>