<div class="centerd">
    <div class="w70">
        <label>Nom</label><input [(ngModel)]="lastName">
        <br/>

        <label>Prénom</label><input [(ngModel)]="firstName">
        <br/>
        <label>Adresse</label><input [(ngModel)]="address">
        <br/>
        <label>Code postal</label><input [(ngModel)]="zipCode">
        <br/>
        <label>Ville</label><input [(ngModel)]="city">
        <div class="connexionButtonDiv">
            <button class="waves-effect waves-light btn" (click) ="validateCommande ()">Valider</button>
        </div>
    </div>
</div>