<div class="centerd">
    <div class="w70">
        <div class="center">
            <h6>Mon panier</h6>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Désignation</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reference of references">
                    <td>{{reference.reference}}</td>
                    <td>{{reference.titre}}</td>
                    <td>{{reference.prix}}€</td>
                    <td><button class="waves-effect waves-light btn" (click)="onReferenceRemoved(reference)">Supprimer</button></td>
                </tr>    
            </tbody>
        </table>
    </div>
</div>


