
<div class="w100">
    <div class="w30">
        <div class="center">
            <h6>Ajouter un produit</h6>
        </div>
        <label>Référence</label> <input [(ngModel)]="ref">
        <br/>

        <label>Titre</label>
        <input [(ngModel)]="titre">

        <label>Prix</label>
        <input [(ngModel)]="price">

        <br/>
        <div class="center">
            <button (click) ="ajout ()" class="waves-effect waves-light btn">Ajouter</button>
        </div>
    </div>
</div>